heading {
    font-size: xx-large;
    color: red;
}

employees {
    display: table;
}

employee {
    display: table-row-group;
    background-color: rgb(0, 0, 0);
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

name {
    font-size: large;
    color: white;
    display: table-cell;
    padding: 10px;
}

position {
    color: aliceblue;
    display: table-cell; 
    padding: 10px;
}

salary {
    display: table-cell;
    padding: 10px;
}